<table class="error-table">
    <tr>
        <td style="width: 1px;">
            <div class="error-code" title="Error Code">@ViewBag.ErrorCode</div>
        </td>
        <td>
            <h3 class="error-message">@ViewBag.Title</h3>
            <a href="/" class="link">Home</a>
            <div class="error-detail">
                @ViewBag.Message
            </div>
        </td>
    </tr>
</table>
